{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="cart-container"> 
<h2>Your Cart</h2>

{% if items %}
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.flower.name }}</td>
                <td>₹{{ item.flower.price }}</td>
                <td>
                    <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1">
                </td>
                <td>₹{{ item.total_price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' item.id %}">❌</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" id="update-cart-btn">Update Cart</button>
    </form>

    <h3 class="total-h3">Total: ₹{{ total }}</h3>
    <a href="{% url 'checkout' %}"><button>Checkout</button></a>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
</div>
{% endblock %}